<?xml version="1.0" encoding="iso-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <display-name>Archetype Created Web Application</display-name>

    <!-- Listeners -->
    <listener>
        <listener-class>com.sourceit.survey.listeners.ApplicationContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.sourceit.survey.listeners.ApplicationSessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.sourceit.survey.listeners.ApplicationSessionAttributesListener</listener-class>
    </listener>

    <!-- Servlets -->
    <servlet>
        <servlet-name>LoginHandler</servlet-name>
        <servlet-class>com.sourceit.survey.controller.common.LoginServletHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginHandler</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping> 
    <servlet>
        <servlet-name>LogoutHandler</servlet-name>
        <servlet-class>com.sourceit.survey.controller.common.LogoutHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutHandler</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>com.sourceit.survey.controller.common.ErrorServletHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/pageNotFound</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminHomeHandler</servlet-name>
        <servlet-class>com.sourceit.survey.controller.admin.AdminHomeServletHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminHomeHandler</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>

    <!-- Filters -->
    <filter>
        <filter-name>ApplicationCharsetFilter</filter-name>
        <filter-class>com.sourceit.survey.filters.ApplicationCharsetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ApplicationCharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/pageNotFound</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error</location>
    </error-page>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
